---
import { author, keywords, pageDescription, pageTitle, url } from "../constants/seo";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta name="description" content={pageDescription} />
		<meta name="keywords" content={keywords.join(', ')} />
		<meta name="author" content={author} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={pageDescription} />
		<meta property="og:image" content={url} />
		<script 
			is:inline
			defer 
			src="https://mentoria-analytics.vercel.app/script.js" 
			data-website-id="c3a5e52e-131e-441a-b0a8-8738283757e6"
		></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16582091810"></script>
		<script>
			// @ts-ignore
			window.dataLayer = window.dataLayer || [];
			// @ts-ignore
			function gtag(){dataLayer.push(arguments);}
			// @ts-ignore
			gtag('js', new Date());
			// @ts-ignore
			gtag('config', 'AW-16582091810');
		</script>
	</head>
	<body>
		<slot />
	</body>
	
</html>
